In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('whitegrid')

In [2]:
df=pd.read_excel('Data_Train.xlsx')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 11 columns):
Airline            10683 non-null object
Date_of_Journey    10683 non-null object
Source             10683 non-null object
Destination        10683 non-null object
Route              10682 non-null object
Dep_Time           10683 non-null object
Arrival_Time       10683 non-null object
Duration           10683 non-null object
Total_Stops        10682 non-null object
Additional_Info    10683 non-null object
Price              10683 non-null int64
dtypes: int64(1), object(10)
memory usage: 918.1+ KB

In [4]:
df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [5]:
df.dropna(inplace=True)

In [6]:
df['Duration']=df['Duration'].str.replace('h','*60').str.replace(' ','+').str.replace('m','*1').apply(eval)
df['Duration']=pd.to_numeric(df['Duration'])

In [7]:
df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,170,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,445,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,1140,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,325,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,285,1 stop,No info,13302

In [8]:
df.drop(['Date_of_Journey','Source','Destination','Route','Dep_Time','Arrival_Time'],axis=1,inplace=True)

In [9]:
df=pd.get_dummies(df)

In [10]:
df.head(2)

,Duration,Price,Airline_Air Asia,Airline_Air India,Airline_GoAir,Airline_IndiGo,Airline_Jet Airways,Airline_Jet Airways Business,Airline_Multiple carriers,Airline_Multiple carriers Premium economy,...,Additional_Info_1 Long layover,Additional_Info_1 Short layover,Additional_Info_2 Long layover,Additional_Info_Business class,Additional_Info_Change airports,Additional_Info_In-flight meal not included,Additional_Info_No Info,Additional_Info_No check-in baggage included,Additional_Info_No info,Additional_Info_Red-eye flight
0,170,3897,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,445,7662,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10682 entries, 0 to 10682
Data columns (total 29 columns):
Duration                                        10682 non-null int64
Price                                           10682 non-null int64
Airline_Air Asia                                10682 non-null uint8
Airline_Air India                               10682 non-null uint8
Airline_GoAir                                   10682 non-null uint8
Airline_IndiGo                                  10682 non-null uint8
Airline_Jet Airways                             10682 non-null uint8
Airline_Jet Airways Business                    10682 non-null uint8
Airline_Multiple carriers                       10682 non-null uint8
Airline_Multiple carriers Premium economy       10682 non-null uint8
Airline_SpiceJet                                10682 non-null uint8
Airline_Trujet                                  10682 non-null uint8
Airline_Vistara                                 10682 non-null uint8
Airline_Vistara Premium economy                 10682 non-null uint8
Total_Stops_1 stop                              10682 non-null uint8
Total_Stops_2 stops                             10682 non-null uint8
Total_Stops_3 stops                             10682 non-null uint8
Total_Stops_4 stops                             10682 non-null uint8
Total_Stops_non-stop                            10682 non-null uint8
Additional_Info_1 Long layover                  10682 non-null uint8
Additional_Info_1 Short layover                 10682 non-null uint8
Additional_Info_2 Long layover                  10682 non-null uint8
Additional_Info_Business class                  10682 non-null uint8
Additional_Info_Change airports                 10682 non-null uint8
Additional_Info_In-flight meal not included     10682 non-null uint8
Additional_Info_No Info                         10682 non-null uint8
Additional_Info_No check-in baggage included    10682 non-null uint8
Additional_Info_No info                         10682 non-null uint8
Additional_Info_Red-eye flight                  10682 non-null uint8
dtypes: int64(2), uint8(27)
memory usage: 532.0 KB

In [12]:
x=df.drop('Price',axis=1)
y=df['Price']

In [13]:
from sklearn.model_selection import train_test_split

In [14]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=10)

In [15]:
from sklearn.ensemble import RandomForestRegressor

In [16]:
rfr=RandomForestRegressor(n_estimators=700,random_state=10)

In [17]:
rfr.fit(x_train,y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=700, n_jobs=None,
           oob_score=False, random_state=10, verbose=0, warm_start=False)

In [18]:
predictions=rfr.predict(x_test)

In [19]:
from sklearn import metrics
print('MAE:', metrics.mean_absolute_error(y_test, predictions))
print('MSE:', metrics.mean_squared_error(y_test, predictions))
print('RMSE:', np.sqrt(metrics.mean_squared_error(y_test, predictions)))
print('r2_score',metrics.r2_score(y_test,predictions))

MAE: 1503.1681651616746
MSE: 7068035.476252176
RMSE: 2658.577716797494
r2_score 0.672923861323

In [20]:
df['Duration']=np.log10(df['Duration'])

In [21]:
x=df.drop('Price',axis=1)
y=df['Price']
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=10)
from sklearn.ensemble import RandomForestRegressor
rfr=RandomForestRegressor(n_estimators=700,random_state=10)
rfr.fit(x_train,y_train)
predictions=rfr.predict(x_test)
from sklearn import metrics
print('MAE:', metrics.mean_absolute_error(y_test, predictions))
print('MSE:', metrics.mean_squared_error(y_test, predictions))
print('RMSE:', np.sqrt(metrics.mean_squared_error(y_test, predictions)))
print('r2_score',metrics.r2_score(y_test,predictions))

MAE: 1509.1152317859303
MSE: 7115570.700171249
RMSE: 2667.5027085593088
r2_score 0.6707241500251668