In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
import os
import time
import threading
warnings.filterwarnings("ignore")

In [2]:
dataframe = pd.read_csv("Tweets.csv")

In [3]:
dataframe.head()

,tweet_id,airline_sentiment,airline_sentiment_confidence,negativereason,negativereason_confidence,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_location,user_timezone
0,570306133677760513,neutral,1.0000,NaN,NaN,Virgin America,NaN,cairdin,NaN,0,@VirginAmerica What @dhepburn said.,NaN,2015-02-24 11:35:52 -0800,NaN,Eastern Time (US & Canada)
1,570301130888122368,positive,0.3486,NaN,0.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica plus you've added commercials t...,NaN,2015-02-24 11:15:59 -0800,NaN,Pacific Time (US & Canada)
2,570301083672813571,neutral,0.6837,NaN,NaN,Virgin America,NaN,yvonnalynn,NaN,0,@VirginAmerica I didn't today... Must mean I n...,NaN,2015-02-24 11:15:48 -0800,Lets Play,Central Time (US & Canada)
3,570301031407624196,negative,1.0000,Bad Flight,0.7033,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica it's really aggressive to blast...,NaN,2015-02-24 11:15:36 -0800,NaN,Pacific Time (US & Canada)
4,570300817074462722,negative,1.0000,Can't Tell,1.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica and it's a really big bad thing...,NaN,2015-02-24 11:14:45 -0800,NaN,Pacific Time (US & Canada)

In [4]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14640 entries, 0 to 14639
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   tweet_id                      14640 non-null  int64
 1   airline_sentiment             14640 non-null  object
 2   airline_sentiment_confidence  14640 non-null  float64
 3   negativereason                9178 non-null   object
 4   negativereason_confidence     10522 non-null  float64
 5   airline                       14640 non-null  object
 6   airline_sentiment_gold        40 non-null     object
 7   name                          14640 non-null  object
 8   negativereason_gold           32 non-null     object
 9   retweet_count                 14640 non-null  int64
 10  text                          14640 non-null  object
 11  tweet_coord                   1019 non-null   object
 12  tweet_created                 14640 non-null  object
 13  tweet_location                9907 non-null   object
 14  user_timezone                 9820 non-null   object
dtypes: float64(2), int64(2), object(11)
memory usage: 1.7+ MB

In [6]:
dataframe.drop(["negativereason","airline_sentiment_gold","negativereason_gold","tweet_coord","tweet_location","user_timezone"],axis = 1,inplace = True)

In [7]:
dataframe.head()

,tweet_id,airline_sentiment,airline_sentiment_confidence,negativereason_confidence,airline,name,retweet_count,text,tweet_created
0,570306133677760513,neutral,1.0000,NaN,Virgin America,cairdin,0,@VirginAmerica What @dhepburn said.,2015-02-24 11:35:52 -0800
1,570301130888122368,positive,0.3486,0.0000,Virgin America,jnardino,0,@VirginAmerica plus you've added commercials t...,2015-02-24 11:15:59 -0800
2,570301083672813571,neutral,0.6837,NaN,Virgin America,yvonnalynn,0,@VirginAmerica I didn't today... Must mean I n...,2015-02-24 11:15:48 -0800
3,570301031407624196,negative,1.0000,0.7033,Virgin America,jnardino,0,@VirginAmerica it's really aggressive to blast...,2015-02-24 11:15:36 -0800
4,570300817074462722,negative,1.0000,1.0000,Virgin America,jnardino,0,@VirginAmerica and it's a really big bad thing...,2015-02-24 11:14:45 -0800

In [8]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14640 entries, 0 to 14639
Data columns (total 9 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   tweet_id                      14640 non-null  int64
 1   airline_sentiment             14640 non-null  object
 2   airline_sentiment_confidence  14640 non-null  float64
 3   negativereason_confidence     10522 non-null  float64
 4   airline                       14640 non-null  object
 5   name                          14640 non-null  object
 6   retweet_count                 14640 non-null  int64
 7   text                          14640 non-null  object
 8   tweet_created                 14640 non-null  object
dtypes: float64(2), int64(2), object(5)
memory usage: 1.0+ MB

In [10]:
dataframe.dropna(inplace = True)

In [11]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10522 entries, 1 to 14639
Data columns (total 9 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   tweet_id                      10522 non-null  int64
 1   airline_sentiment             10522 non-null  object
 2   airline_sentiment_confidence  10522 non-null  float64
 3   negativereason_confidence     10522 non-null  float64
 4   airline                       10522 non-null  object
 5   name                          10522 non-null  object
 6   retweet_count                 10522 non-null  int64
 7   text                          10522 non-null  object
 8   tweet_created                 10522 non-null  object
dtypes: float64(2), int64(2), object(5)
memory usage: 822.0+ KB

In [15]:
dataframe["airline_sentiment"].unique()

array(['positive', 'negative', 'neutral'], dtype=object)

In [16]:
dataframe.describe()

,tweet_id,airline_sentiment_confidence,negativereason_confidence,retweet_count
count,1.052200e+04,10522.000000,10522.000000,10522.000000
mean,5.692531e+17,0.894380,0.638298,0.086295
std,7.651788e+14,0.168865,0.330440,0.758918
min,5.675900e+17,0.335000,0.000000,0.000000
25%,5.686256e+17,0.689225,0.360600,0.000000
50%,5.695300e+17,1.000000,0.670600,0.000000
75%,5.698849e+17,1.000000,1.000000,0.000000
max,5.703106e+17,1.000000,1.000000,44.000000

In [19]:
dataframe["text"][1]

"@VirginAmerica plus you've added commercials to the experience... tacky."

In [20]:
dataframe.reset_index(drop = True,inplace = True)

In [24]:
dataframe["airline"][0]

'Virgin America'

In [25]:
import nltk
from nltk.corpus import stopwords